{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Num_mobile</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Nb_participants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.Name }}</td>
                <td>{{ booking.Email }}</td>
                <td>{{ booking.NumMobile }}</td>
                <td>{{ booking.Date ? booking.Date|date('Y-m-d') : '' }}</td>
                <td>{{ booking.Heure ? booking.Heure|date('H:i:s') : '' }}</td>
                <td>{{ booking.NbParticipants }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
{% endblock %}
