{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Plat</th>
                <td>{{ menu.Plat }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ menu.Prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ menu.Description }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{{ menu.Photos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('menu_index') }}">back to list</a>

    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
